@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/inter/Interregular.woff2) format('woff2'), url(../fonts/inter/Interregular.woff) format('woff');
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/bebasneue/bebasneueregular.woff2) format('woff2'), url(../fonts/bebasneue/bebasneueregular.woff) format('woff');
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/bebasneue/bebasneuebold.woff2) format('woff2'), url(../fonts/bebasneue/bebasneuebold.woff) format('woff');
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  min-width: 320px;
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  html {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  background-color: #ffffff;
  color: #242424;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 1280px) {
  .title {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 76px;
    line-height: 1.2;
    font-style: normal;
    font-weight: normal;
    margin: 0;
  }
  .title--gray {
    color: #9f9f9f;
  }
  .title--blue {
    color: #0f7bde;
  }
}
@media (min-width: 1280px) {
  .subtitle {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 48px;
    line-height: 1.2;
    font-style: normal;
    font-weight: normal;
    margin: 0;
  }
  .subtitle--white {
    color: #ffffff;
  }
  .subtitle--blue {
    color: #0f7bde;
  }
}
@media (min-width: 1280px) {
  .page-header__wrapper {
    max-width: calc(768px - 1px);
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 269px 1fr 289px;
    grid-template-rows: auto auto;
    min-height: 162px;
  }
  .page-header__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 47px;
  }
  .page-header__company-navigation {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 57px;
  }
  .page-header__production-navigation {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .phone {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-top: 35px;
  }
  .email {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .page-header__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .page-header__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .logo {
    width: 269px;
    height: 87px;
  }
}
.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1280px) {
  .main-navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25px;
  }
  .main-navigation__link {
    display: inline-block;
    font-size: 15px;
    line-height: 1.2;
    color: #5a5a5a;
    padding: 10px 25px;
    cursor: pointer;
  }
}
.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1280px) {
  .site-navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25px;
  }
  .site-navigation__link {
    display: inline-block;
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
    padding: 10px 25px;
    cursor: pointer;
  }
  .site-navigation__link:hover,
  .site-navigation__link:active {
    color: #ea8c00;
  }
}
@media (min-width: 1280px) {
  .phone__link {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
    color: #0f7bde;
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  .email {
    display: flex;
    justify-content: end;
  }
  .email__link {
    font-size: 24px;
    line-height: 1.2;
    color: #9f9f9f;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  .promo__wrapper {
    max-width: calc(768px - 1px);
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c4c4c4;
    min-height: 454px;
    height: 100%;
    padding-top: 41px;
  }
  .promo__text {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-weight: 700;
    font-size: 78px;
    line-height: 1;
    color: #ffffff;
    width: 50%;
    margin: 0;
    padding-bottom: 98px;
    padding-left: 36px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .promo__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .promo__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .stats__wrapper {
    max-width: calc(768px - 1px);
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .stats__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 26px;
    padding-bottom: 72px;
    border-bottom: 1px solid #c4c4c4;
  }
  .stats__item {
    min-width: 33.33%;
    padding-left: 40px;
    border-left: 1px solid #0f7bde;
  }
  .stats__item:first-child {
    padding-left: 36px;
    border-left: none;
  }
  .stats__number {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 48px;
    line-height: 1.2;
    font-style: normal;
    font-weight: normal;
    color: #0f7bde;
  }
  .stats__description {
    font-size: 12px;
    line-height: 1.25;
    color: #242424;
    margin: 0;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .stats__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .stats__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .services__wrapper {
    max-width: calc(768px - 1px);
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .services__title {
    padding: 67px 234px 40px 234px;
  }
  .services__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    padding-bottom: 83px;
    border-bottom: 1px solid #c4c4c4;
  }
  .services__item {
    width: 50%;
    min-height: 609px;
    background-color: #c4c4c4;
    padding: 38px 26px;
  }
  .services__item--background {
    background-color: #0f7bde;
  }
  .services__item-title {
    padding-bottom: 29px;
  }
  .services__item-wrapper {
    display: grid;
    grid-template-columns: 252px 252px;
    gap: 40px;
    grid-template-rows: auto auto auto;
  }
  .services__item-text {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    color: #ffffff;
  }
  .services__item-text--column {
    font-size: 12px;
    line-height: 1.25;
  }
  .services__item-text:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-bottom: 12px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .services__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .services__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .product__wrapper {
    max-width: calc(768px - 1px);
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .product__title {
    padding: 72px 234px 10px 234px;
  }
  .product__text {
    font-size: 20px;
    line-height: 1.2;
    width: 810px;
    margin: 0;
    padding-left: 234px;
    padding-bottom: 30px;
  }
  .product__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    gap: 110px;
    margin-bottom: 89px;
  }
  .product__item {
    display: grid;
    grid-template-columns: 607px 583px;
    grid-template-rows: auto auto auto;
    column-gap: 50px;
    row-gap: 25px;
  }
  .product__item-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .product__item-img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-self: end;
  }
  .product__item-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding-right: 87px;
  }
  .product__item-link {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: #ea8c00;
    font-size: 12px;
    line-height: 15px;
    padding-left: 28px;
    cursor: pointer;
  }
  .product__item-link::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 16px;
    height: 23px;
    background-image: url("../img/catalog.svg");
    background-repeat: no-repeat;
    background-size: 16px 23px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .product__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .product__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .projects__wrapper {
    max-width: calc(768px - 1px);
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .projects__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .projects__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */
