@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/inter/Interregular.woff2) format('woff2'), url(../fonts/inter/Interregular.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/inter/Intermedium.woff2) format('woff2'), url(../fonts/inter/Intermedium.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/inter/Interblack.woff2) format('woff2'), url(../fonts/inter/Interblack.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/inter/Interitalic.woff2) format('woff2'), url(../fonts/inter/Interitalic.woff) format('woff');
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/bebasneue/bebasneueregular.woff2) format('woff2'), url(../fonts/bebasneue/bebasneueregular.woff) format('woff');
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/bebasneue/bebasneuebold.woff2) format('woff2'), url(../fonts/bebasneue/bebasneuebold.woff) format('woff');
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  min-width: 320px;
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  html {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  background-color: #ffffff;
  color: #242424;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
.title--gray {
  color: #9f9f9f;
}
.title--blue,
.title--equipment {
  color: #0f7bde;
}
.title--orange {
  color: #ea8c00;
}
@media (min-width: 1280px) {
  .title {
    font-size: 76px;
  }
  .title--equipment {
    color: #ea8c00;
  }
}
.subtitle {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
.subtitle--white {
  color: #ffffff;
}
.subtitle--blue {
  color: #0f7bde;
}
.subtitle--orange {
  color: #ea8c00;
}
@media (min-width: 1280px) {
  .subtitle {
    font-size: 48px;
  }
}
.page-header__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .page-header__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.page-header__menu {
  position: relative;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-header__menu-toggler {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.page-header__menu-toggler--line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.page-header__menu-toggler--cross::before,
.page-header__menu-toggler--cross::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}
.page-header__menu-toggler--cross::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.page-header__menu-toggler--cross::after {
  transform: rotate(-45deg);
}
.page-header__menu-toggler--nojs {
  display: none;
}
@media (min-width: 1280px) {
  .page-header__menu-toggler {
    display: none;
  }
}
.page-header__nav {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.page-header__nav--closed {
  display: none;
}
.page-header__phone,
.page-header__email {
  display: none;
}
@media (min-width: 1280px) {
  .page-header__wrapper {
    display: grid;
    grid-template-columns: 269px 1fr 289px;
    grid-template-rows: auto auto;
    min-height: 162px;
  }
  .page-header__menu {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 47px;
  }
  .page-header__nav {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-top: 57px;
  }
  .page-header__company-navigation {
    display: block;
  }
  .page-header__production-navigation {
    display: block;
  }
  .phone {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-top: 35px;
  }
  .email {
    display: block;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}
.logo__img {
  width: 111px;
  height: 36px;
}
@media (min-width: 1280px) {
  .logo__img {
    width: 269px;
    height: 87px;
  }
}
.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation__item {
  border-top: 1px solid #c4c4c4;
  text-align: center;
}
.main-navigation__link {
  display: inline-block;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #242424;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.main-navigation__link:hover {
  color: #0f7bde;
}
@media (min-width: 1280px) {
  .main-navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25px;
  }
  .main-navigation__item {
    border-top: none;
    text-align: start;
  }
  .main-navigation__item:last-child {
    display: block;
  }
  .main-navigation__link {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #5a5a5a;
    padding: 10px 35px;
  }
  .main-navigation__link:hover,
  .main-navigation__link:active {
    color: #ea8c00;
  }
}
.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation__item {
  border-top: 1px solid #c4c4c4;
  text-align: center;
}
.site-navigation__item:last-child {
  display: none;
}
.site-navigation__link {
  display: inline-block;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #242424;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.site-navigation__link:hover {
  color: #0f7bde;
}
@media (min-width: 1280px) {
  .site-navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25px;
  }
  .site-navigation__item {
    border-top: none;
    text-align: start;
  }
  .site-navigation__item:last-child {
    display: block;
  }
  .site-navigation__link {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
    padding: 10px 35px;
  }
  .site-navigation__link:hover,
  .site-navigation__link:active {
    color: #ea8c00;
  }
}
.phone__link {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  color: #0f7bde;
  cursor: pointer;
}
.phone__link--footer {
  color: #ffffff;
}
@media (min-width: 1280px) {
  .phone__link {
    font-size: 48px;
    color: #0f7bde;
    cursor: pointer;
  }
  .phone__link--footer {
    color: #ffffff;
  }
}
.email__link {
  font-size: 20px;
  line-height: 1.2;
  color: #9f9f9f;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
}
.email__link--footer {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 1280px) {
  .email {
    display: flex;
    justify-content: end;
  }
  .email__link {
    font-size: 24px;
    line-height: 1.2;
    color: #9f9f9f;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    cursor: pointer;
  }
  .email__link--footer {
    color: #ffffff;
  }
}
.promo {
  position: relative;
  min-height: 512px;
}
.promo__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 512px;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .promo__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .promo__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.promo__text {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
  width: 100%;
  margin: 0;
  text-align: center;
}
@media (min-width: 1280px) {
  .promo {
    display: flex;
    margin-left: calc((100% - 1240px) / 2);
    position: relative;
    min-height: 454px;
  }
  .promo__video video {
    width: 1240px;
    height: 454px;
    object-fit: cover;
  }
  .promo__wrapper {
    min-height: 454px;
    padding-top: 41px;
    padding-bottom: 0;
  }
  .promo__text {
    font-size: 78px;
    width: 50%;
    margin: 0;
    text-align: left;
    padding-bottom: 98px;
    padding-left: 36px;
  }
}
.stats__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .stats__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .stats__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.stats__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
}
.stats__item {
  border-bottom: 1px solid #0f7bde;
}
.stats__item:last-child {
  border-bottom: none;
}
.stats__number {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 42px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  color: #0f7bde;
  padding-top: 29px;
  padding-bottom: 10px;
}
.stats__description {
  font-size: 12px;
  line-height: 1.25;
  color: #242424;
  margin: 0;
  padding-bottom: 25px;
}
@media (min-width: 1280px) {
  .stats__list {
    flex-direction: row;
    margin-top: 26px;
    padding-bottom: 72px;
  }
  .stats__item {
    min-width: 33.33%;
    padding-left: 40px;
    border-left: 1px solid #0f7bde;
    border-bottom: none;
  }
  .stats__item:first-child {
    padding-left: 36px;
    border-left: none;
  }
  .stats__number {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 48px;
  }
  .stats__description {
    padding-bottom: 0;
  }
}
.services__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .services__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .services__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.services__title {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #c4c4c4;
}
.services__item {
  width: 100%;
}
.services__item-title {
  color: #0f7bde;
  text-align: center;
  padding-bottom: 16px;
}
.services__item-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}
.services__item-wrapper {
  padding-top: 22px;
}
.services__item-text {
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  color: #000000;
  padding-bottom: 15px;
}
.services__item-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  padding: 11px;
  width: 100%;
  min-height: 41px;
  color: #ffffff;
  cursor: pointer;
  background-color: #0f7bde;
  border: none;
  margin-bottom: 60px;
}
@media (max-width: 1279px) {
  .services__item-wrapper--undetailed .services__item-text--column {
    display: none;
  }
  .services__item-wrapper--undetailed .services__item-text span {
    display: none;
  }
}
@media (min-width: 1280px) {
  .services__title {
    text-align: left;
    padding: 67px 234px 40px 234px;
  }
  .services__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    padding-bottom: 83px;
    border-bottom: 1px solid #c4c4c4;
  }
  .services__item {
    position: relative;
    height: 609px;
    overflow: hidden;
  }
  .services__item-title {
    min-height: 140px;
    color: #ffffff;
    height: 148px;
    width: 100%;
    background-color: #0f7bde;
    padding: 18px 0 14px 26px;
    text-align: left;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .services__item-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 611px;
    height: 609px;
  }
  .services__item-wrapper {
    display: grid;
    height: 609px;
    grid-template-columns: 252px 252px;
    column-gap: 40px;
    row-gap: 30px;
    grid-template-rows: auto auto auto auto;
    padding: 0;
    background-color: #0f7bde;
    transform: translateY(460px);
    transition: transform 0.1s ease-in;
  }
  .services__item-link {
    display: none;
  }
  .services__item-text {
    padding: 0;
    list-style: none;
    padding-left: 26px;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .services__item-text--column {
    font-size: 12px;
    line-height: 1.25;
  }
  .services__item-text {
    padding-bottom: 12px;
  }
  .services__item-text__description {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .services__item:hover .services__item-wrapper {
    transform: translateY(0);
  }
  .services__item:hover .services__item-text {
    opacity: 1;
  }
}
.product__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .product__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .product__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.product__title {
  padding-top: 53px;
  padding-bottom: 31px;
  text-align: center;
}
.product__text {
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 30px;
}
.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 42px;
}
.product__item {
  background-color: #f4f4f4;
}
.product__item-wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .product__item-wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .product__item-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.product__item-title {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
}
.product__item-title--show::before,
.product__item-title--show::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 26px;
  height: 13px;
  background-image: url(../img/arrow-bottom.svg);
  background-repeat: no-repeat;
}
.product__item-title--show::before {
  left: 0;
}
.product__item-title--show::after {
  right: 0;
}
.product__item-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-fit: cover;
  margin: 0 auto;
}
.product__item-text {
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 27px;
}
.product__catalog {
  padding-bottom: 10px;
}
.product__catalog--opened {
  padding-bottom: 10px;
}
.product__catalog--opened .catalog__link {
  margin-bottom: 25px;
}
.product__catalog--opened .catalog__list {
  transform: scaleY(1);
  opacity: 1;
  max-height: 100%;
}
.product__catalog--opened .catalog__icon {
  transform: rotateZ(90deg);
}
@media (max-width: 1279px) {
  .product__item-wrapper--closed > p,
  .product__item-wrapper--closed > picture,
  .product__item-wrapper--closed > div {
    display: none;
  }
  .product__item-wrapper--closed .product__item-title::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 13px;
    height: 26px;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
  }
  .product__item-wrapper--closed .product__item-title::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 13px;
    height: 26px;
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
  }
}
@media (min-width: 1280px) {
  .product__title {
    padding: 72px 234px 10px 234px;
    text-align: start;
  }
  .product__text {
    font-size: 20px;
    width: 810px;
    margin: 0;
    padding-left: 234px;
    padding-bottom: 30px;
  }
  .product__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  .product__item {
    background-color: #ffffff;
    margin-bottom: 100px;
  }
  .product__item-wrapper {
    display: grid;
    grid-template-columns: 607px 583px;
    grid-template-rows: auto auto auto auto;
    column-gap: 50px;
    row-gap: 25px;
    background-color: #ffffff;
  }
  .product__item-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0;
    padding-right: 100px;
    text-align: left;
    cursor: text;
  }
  .product__item-title--hide::before,
  .product__item-title--show::before,
  .product__item-title--hide::after,
  .product__item-title--show::after {
    display: none;
  }
  .product__item-img {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    justify-self: end;
    width: 609px;
    height: 372px;
  }
  .product__item-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 16px;
    line-height: 1.2;
    padding: 0;
    padding-right: 87px;
  }
  .product__catalog {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
.catalog__icon {
  transition: transform 0.05s ease-in;
}
.catalog__link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 25px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.catalog__link-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ea8c00;
  margin: 0;
}
.catalog__link-title:hover {
  -webkit-text-decoration: underline 1px solid #ea8c00;
          text-decoration: underline 1px solid #ea8c00;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 0px;
  transform-origin: top;
  transition: max-height 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: opacity 0.25s ease-in 0.1s;
  transform: scaleY(0);
  opacity: 0;
}
.catalog__item {
  padding-bottom: 20px;
}
.catalog__item-link {
  font-size: 12px;
  line-height: 1.2;
  cursor: pointer;
}
.catalog__item-link:hover {
  color: #0f7bde;
  -webkit-text-decoration: underline 1px solid #0f7bde;
          text-decoration: underline 1px solid #0f7bde;
}
@media (min-width: 1280px) {
  .catalog__list {
    margin-left: 50px;
  }
  .catalog__item-link {
    font-size: 16px;
    line-height: 1.2;
  }
}
.projects__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .projects__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .projects__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.projects__title {
  text-align: center;
  padding: 53px 20px 37px 20px;
  border-top: 1px solid #c4c4c4;
}
.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
@media (min-width: 1280px) {
  .projects__title {
    padding: 107px 234px 76px 234px;
    border-top: 1px solid #c4c4c4;
    text-align: left;
  }
}
.projects__list {
  margin-bottom: 0;
}
.works__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .works__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .works__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.works__title {
  padding: 0 5px 34px 5px;
  text-align: center;
}
.works__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.works__item {
  margin-bottom: 10px;
}
@media (min-width: 1280px) {
  .works__title {
    padding: 0 234px 73px 234px;
    text-align: left;
  }
  .works__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 150px;
  }
  .works__item {
    margin-bottom: 0px;
  }
}
.equipment__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .equipment__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .equipment__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.equipment__title {
  padding: 0 5px 34px 5px;
  text-align: center;
  color: #0f7bde;
}
.equipment__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.equipment__item {
  margin-bottom: 10px;
}
@media (min-width: 1280px) {
  .equipment__title {
    padding: 0 234px 73px 234px;
    text-align: left;
    color: #ea8c00;
  }
  .equipment__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
  }
  .equipment__item {
    margin-bottom: 0px;
  }
  .equipment__item .year__title {
    border-color: #ea8c00;
  }
  .equipment__item .year__title::before {
    background-color: #ffffff;
    border-color: #ea8c00;
  }
  .equipment__item .year__title::after {
    background-color: #ea8c00;
  }
}
.year__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f4f4f4;
}
@media (min-width: 768px) {
  .year__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .year__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.year__title {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  padding: 5px 20px;
}
.year__title--hide + ul {
  visibility: hidden;
  transform: scaleY(0);
  max-height: 0px;
  margin: 0px;
}
.year__title--hide::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 13px;
  height: 26px;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
}
.year__title--hide::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 13px;
  height: 26px;
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
}
.year__title--show::before,
.year__title--show::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 26px;
  height: 13px;
  background-image: url(../img/arrow-bottom.svg);
  background-repeat: no-repeat;
}
.year__title--show::before {
  left: 0;
}
.year__title--show::after {
  right: 0;
}
.year__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 35px;
  height: auto;
  transform-origin: top;
  transition: max-height 1s ease-in-out 0.5s;
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
}
.year__item {
  font-size: 12px;
  line-height: 1.2;
  padding-bottom: 20px;
}
.year__subtitle {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 10px;
}
.year__text {
  font-style: italic;
  margin: 0;
  padding: 5px;
}
@media (min-width: 1280px) {
  .year__wrapper {
    display: grid;
    grid-template-columns: 607px 374px;
    column-gap: 50px;
    row-gap: 25px;
    background-color: #ffffff;
  }
  .year__title {
    position: relative;
    display: block;
    padding: 0 45px;
    font-size: 76px;
    text-align: end;
    border-right: 3px #0f7bde solid;
  }
  .year__title::after {
    position: absolute;
    content: '';
    top: 33px;
    right: -11px;
    width: 19px;
    height: 19px;
    background-image: none;
    background-color: #0f7bde;
    border-radius: 50%;
  }
  .year__title::before {
    position: absolute;
    content: '';
    top: 26px;
    right: -18px;
    left: auto;
    width: 33px;
    height: 33px;
    background-image: none;
    background-color: #ffffff;
    border: 3px solid #0f7bde;
    border-radius: 50%;
  }
  .year__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 35px;
    font-size: 0;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.25s, font-size 0.5s 0.25s, margin 0.5s 0.25s, padding 0.5s 0.25s, max-height 1s ease-out;
  }
  .reset-size {
    font-size: 16px;
    opacity: 1;
    max-height: 2000px;
    transition: font-size 0.25s, margin 0.25s, padding 0.25s, opacity 0.5s 0.25s;
  }
  .reset-size .year__item {
    padding-bottom: 20px;
  }
  .year__item {
    padding-bottom: 0px;
  }
  .year__subtitle {
    font-weight: 900;
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
  }
  .year__text {
    font-style: italic;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    padding-left: 0;
  }
}
.info__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .info__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .info__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.info__title {
  padding: 50px 20px;
  border-top: 1px solid #c4c4c4;
  text-align: center;
}
.info__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  padding-bottom: 25px;
}
.info__text {
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 60px;
}
.info__lines,
.info__advantages {
  margin-bottom: 45px;
}
.info__subtitle {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  color: #0f7bde;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.info__list {
  margin: 0;
  padding: 0;
}
.info__item {
  font-size: 12px;
  line-height: 1.2;
  margin-left: 20px;
}
@media (min-width: 1280px) {
  .info__wrapper {
    position: relative;
    margin-bottom: 98px;
  }
  .info__title {
    padding: 90px 0px 10px 234px;
    text-align: left;
  }
  .info__img {
    position: absolute;
    top: 339px;
    right: 20px;
    width: 550px;
    height: 801px;
  }
  .info__text {
    font-size: 20px;
    line-height: 1.2;
    width: 810px;
    margin: 0;
    padding-left: 234px;
    padding-bottom: 67px;
  }
  .info__lines,
  .info__advantages {
    padding-left: 234px;
    max-width: 49%;
  }
  .info__lines {
    margin-bottom: 78px;
  }
  .info__advantages {
    margin-bottom: 250px;
  }
  .info__subtitle {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.2;
    color: #0f7bde;
    margin: 0;
    padding-bottom: 20px;
    text-align: left;
  }
  .info__list {
    margin: 0;
    padding: 0;
  }
  .info__item {
    font-size: 16px;
    margin-left: 20px;
  }
}
.licenses__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .licenses__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .licenses__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.licenses__title {
  padding: 53px 20px 31px 20px;
  border-top: 1px solid #c4c4c4;
  text-align: center;
}
.licenses__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  margin-bottom: 77px;
}
.licenses__img {
  width: 132px;
  height: 187px;
}
@media (min-width: 1280px) {
  .licenses__title {
    padding: 93px 230px 69px 234px;
    text-align: left;
  }
  .licenses__list {
    gap: 39px;
    margin-left: 234px;
    margin-right: 230px;
    margin-bottom: 213px;
  }
  .licenses__img {
    width: 232px;
    height: 330px;
  }
}
.info-add {
  background-color: #0f7bde;
  min-height: 239px;
}
.info-add__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 49px;
  padding-bottom: 46px;
  margin-bottom: 47px;
}
@media (min-width: 768px) {
  .info-add__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .info-add__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.info-add__text {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 1280px) {
  .info-add {
    background-color: #0f7bde;
    min-height: 407px;
  }
  .info-add__wrapper {
    padding: 110px 0;
    margin-bottom: 111px;
  }
  .info-add__text {
    font-size: 48px;
    padding-left: 234px;
    padding-right: 160px;
  }
}
.customers__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .customers__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .customers__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.customers__title {
  padding: 50px 20px;
  border-top: 1px solid #c4c4c4;
  text-align: center;
}
.customers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 40px;
  column-gap: 30px;
  align-items: center;
  margin-bottom: 50px;
}
.customers__item:first-child {
  width: 101px;
  height: 82px;
  z-index: 1;
}
.customers__item:nth-child(2) {
  width: 79px;
  height: 80px;
  z-index: 2;
}
.customers__item:nth-child(3) {
  width: 91px;
  height: 56px;
  z-index: 6;
}
.customers__item:nth-child(4) {
  width: 116px;
  height: 71px;
  z-index: 3;
}
.customers__item:nth-child(5) {
  width: 106px;
  height: 68px;
  z-index: 4;
}
.customers__item:nth-child(6) {
  width: 130px;
  height: 60px;
  z-index: 5;
}
.customers__item:nth-child(7) {
  width: 202px;
  height: 45px;
  z-index: 7;
}
.customers__item:nth-child(8) {
  width: 94px;
  height: 51px;
  z-index: 8;
}
.customers__item:nth-child(9) {
  width: 155px;
  height: 51px;
}
.customers__item:nth-child(10) {
  width: 93px;
  height: 50px;
}
.customers__item:nth-child(11) {
  width: 149px;
  height: 28px;
}
.customers__item:nth-child(12) {
  width: 131px;
  height: 49px;
}
.customers__item:nth-child(13) {
  width: 112px;
  height: 42px;
}
.customers__item:nth-child(14) {
  width: 79px;
  height: 73px;
}
.customers__item:nth-child(15) {
  width: 74px;
  height: 69px;
}
.customers__item:nth-child(16) {
  width: 133px;
  height: 24px;
}
.customers__item:nth-child(17) {
  width: 102px;
  height: 84px;
}
@media (min-width: 1280px) {
  .customers__title {
    padding: 92px 234px 100px 234px;
    border-top: 1px solid #c4c4c4;
    text-align: left;
  }
  .customers__list {
    gap: 70px;
    margin-left: 228px;
    margin-right: 170px;
    margin-bottom: 50px;
  }
  .customers__item {
    align-self: center;
  }
  .customers__item img {
    width: 100%;
  }
  .customers__item:first-child {
    width: 184px;
    height: 150px;
  }
  .customers__item:nth-child(2) {
    width: 146px;
    height: 146px;
  }
  .customers__item:nth-child(3) {
    width: 194px;
    height: 117px;
  }
  .customers__item:nth-child(4) {
    width: 213px;
    height: 157px;
  }
  .customers__item:nth-child(5) {
    width: 284px;
    height: 157px;
  }
  .customers__item:nth-child(6) {
    width: 319px;
    height: 180px;
  }
  .customers__item:nth-child(7) {
    width: 372px;
    height: 84px;
  }
  .customers__item:nth-child(8) {
    width: 173px;
    height: 96px;
  }
  .customers__item:nth-child(9) {
    width: 371px;
    height: 123px;
  }
  .customers__item:nth-child(10) {
    width: 253px;
    height: 113px;
  }
  .customers__item:nth-child(11) {
    width: 380px;
    height: 71px;
  }
  .customers__item:nth-child(12) {
    width: 292px;
    height: 107px;
  }
  .customers__item:nth-child(13) {
    width: 333px;
    height: 125px;
  }
  .customers__item:nth-child(14) {
    width: 173px;
    height: 163px;
  }
  .customers__item:nth-child(15) {
    width: 164px;
    height: 154px;
  }
  .customers__item:nth-child(16) {
    width: 374px;
    height: 67px;
  }
  .customers__item:nth-child(17) {
    width: 227px;
    height: 187px;
  }
}
.partners__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .partners__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .partners__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.partners__title {
  padding: 50px 20px;
  border-top: 1px solid #c4c4c4;
  text-align: center;
}
.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  column-gap: 15px;
  align-items: center;
  margin-bottom: 50px;
}
@media (min-width: 1280px) {
  .partners__title {
    padding: 92px 234px 100px 234px;
    border-top: 1px solid #c4c4c4;
    text-align: left;
  }
  .partners__list {
    gap: 75px;
    align-items: center;
    margin-left: 215px;
    margin-right: 170px;
    margin-bottom: 80px;
  }
  .partners__item {
    align-self: center;
  }
  .partners__item img {
    width: 100%;
  }
  .partners__item:first-child {
    width: 302px;
    height: 160px;
  }
  .partners__item:nth-child(2) {
    width: 296px;
    height: 132px;
  }
  .partners__item:nth-child(3) {
    width: 234px;
    height: 93px;
  }
  .partners__item:nth-child(4) {
    width: 363px;
    height: 79px;
  }
}
@media (min-width: 1280px) {
  .geography__wrapper {
    max-width: calc(768px - 1px);
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .geography__title {
    padding: 92px 234px 35px 234px;
    border-top: 1px solid #c4c4c4;
  }
  .geography__img {
    margin-bottom: 127px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .geography__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .geography__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.contacts__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .contacts__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.contacts__title {
  padding: 50px 20px;
  border-top: 1px solid #c4c4c4;
  text-align: center;
}
.contacts__column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contacts__map {
  position: relative;
}
.contacts__info {
  font-size: 12px;
  line-height: 1.2;
}
.contacts__company {
  margin: 0;
}
.contacts__address {
  font-style: normal;
}
.contacts__item {
  display: flex;
  margin-bottom: 20px;
}
.contacts__email {
  color: #0f7bde;
}
.contacts__general {
  margin-top: 60px;
}
.contacts__inn {
  margin-bottom: 38px;
}
@media (min-width: 1280px) {
  .contacts__wrapper {
    max-width: calc(768px - 1px);
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contacts__title {
    padding: 92px 234px 67px 234px;
    border-top: 1px solid #c4c4c4;
    text-align: left;
  }
  .contacts__column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-left: 127px;
    margin-right: 113px;
    margin-bottom: 116px;
  }
  .contacts__map {
    position: relative;
  }
  .contacts__info {
    font-size: 16px;
  }
  .contacts__company {
    margin: 0;
  }
  .contacts__address {
    font-style: normal;
  }
  .contacts__item {
    display: flex;
    margin-bottom: 20px;
  }
  .contacts__email {
    color: #0f7bde;
  }
  .contacts__general {
    margin-top: 60px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .contacts__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .contacts__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.map {
  position: relative;
}
.map__interactive {
  border: none;
  width: 100%;
  height: 320px;
}
.map__static {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 0;
  left: calc((100% - 320px)/2);
  z-index: -1;
  object-fit: cover;
}
@media (min-width: 1280px) {
  .map {
    position: relative;
  }
  .map__interactive {
    border: none;
    width: 480px;
    height: 480px;
  }
  .map__static {
    position: absolute;
    width: 480px;
    height: 480px;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}
.footer {
  background-color: #0f7bde;
  min-height: 666px;
}
.footer__wrapper {
  max-width: calc(768px - 1px);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .footer__wrapper {
    max-width: calc(1280px - 1px);
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 1280px) {
  .footer__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer__column {
  padding: 0;
}
.footer__phone {
  text-align: start;
  margin-top: 53px;
  margin-bottom: 5px;
}
.footer__email {
  margin-bottom: 34px;
}
.footer__navigation {
  display: none;
}
@media (min-width: 1280px) {
  .footer {
    min-height: 589px;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 607px 583px;
    gap: 50px;
  }
  .footer__column:first-child {
    padding: 62px 31px 63px 125px;
  }
  .footer__column:nth-child(2) {
    padding: 62px 37px 47px 30px;
  }
  .footer__phone {
    text-align: end;
    margin: 0;
    margin-bottom: 5px;
  }
  .footer__email {
    margin-bottom: 43px;
  }
  .footer__navigation {
    display: block;
  }
}
.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.form__submit {
  margin: 30px 30px 50px 30px;
}
.form__text {
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 1280px) {
  .form__text {
    display: none;
  }
}
.personal-data__text {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.2;
  padding: 0;
  padding-bottom: 36px;
}
.personal-data__item {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media (min-width: 1280px) {
  .personal-data__text {
    font-size: 20px;
  }
  .personal-data__item {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 52px 0;
  }
}
.input {
  font-size: 12px;
  color: #ffffff;
  background-color: #0f7bde;
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}
@media (min-width: 1280px) {
  font-size: 16px;
}
.label {
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
@media (min-width: 1280px) {
  font-size: 16px;
}
#backToTopButton {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
}
#backToTopButton.show {
  opacity: 0.7;
  visibility: visible;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  padding: 10px 10px;
  width: 100%;
  min-height: 44px;
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}
@media (min-width: 1280px) {
  #backToTopButton {
    width: 70px;
    height: 70px;
    bottom: 40px;
    right: 40px;
  }
  .button {
    font-size: 48px;
    line-height: 1;
    padding: 6px 10px;
    width: 100%;
    min-height: 60px;
  }
}
.form__button:disabled {
  color: #ffffff;
  background-color: #9f9f9f;
  cursor: default;
}
@media (min-width: 1280px) {
  .footer-nav {
    display: flex;
    column-gap: 25px;
  }
  .footer-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 235px;
  }
  .footer-nav__item {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 1.25;
    color: #ffffff;
  }
  .footer-nav__title {
    font-size: 14px;
    line-height: 1.25;
    font-weight: bold;
  }
  .footer-nav__link {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */
