.partners__wrapper {
  .wrapper();
}

.partners__title {
  padding: 50px 20px;
  border-top: 1px solid @lt_gray;
  text-align: center;
}

.partners__list {
  .list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  column-gap: 15px;
  align-items: center;
  margin-bottom: 50px;
}

@media (min-width: @desktop-width) {

  .partners__title {
    padding: 92px 234px 100px 234px;
    border-top: 1px solid @lt_gray;
    text-align: left;
  }

  .partners__list {
    row-gap: 120px;
    column-gap: 45px;
    justify-content: space-evenly;
    margin-left: 215px;
    margin-right: 170px;
    margin-bottom: 80px;
  }

  .partners__item {
    align-self: center;

    img {
      width: 100%;
    }
  }

  .partners__item:first-child {
    width: 302px;
    height: 160px;
  }

  .partners__item:nth-child(2) {
    width: 296px;
    height: 132px;
  }

  .partners__item:nth-child(3) {
    width: 234px;
    height: 93px;
  }

  .partners__item:nth-child(4) {
    width: 363px;
    height: 79px;
  }

  .partners__item:nth-child(5) {
    width: 295px;
    height: 183px;
  }

  .partners__item:nth-child(6) {
    width: 331px;
    height: 105px;
  }

  .partners__item:nth-child(7) {
    width: 347px;
    height: 134px;
  }

  .partners__item:nth-child(8) {
    width: 280px;
    height: 77px;
  }

  .partners__item:nth-child(9) {
    width: 430px;
    height: 129px;
  }

  .partners__item:nth-child(10) {
    width: 377px;
    height: 95px;
  }

  .partners__item:nth-child(11) {
    width: 355px;
    height: 113px;
  }

  .partners__item:nth-child(12) {
    width: 287px;
    height: 110px;
  }

  .partners__item:nth-child(13) {
    width: 394px;
    height: 95px;
  }

  .partners__item:nth-child(14) {
    width: 222px;
    height: 227px;
  }

  .partners__item:nth-child(15) {
    width: 196px;
    height: 214px;
  }

  .partners__item:nth-child(16) {
    width: 345px;
    height: 55px;
  }

  .partners__item:nth-child(17) {
    width: 342px;
    height: 97px;
  }

  .partners__item:nth-child(18) {
    width: 422px;
    height: 106px;
  }

  .partners__item:nth-child(19) {
    width: 805px;
    height: 133px;
  }

  .partners__item:nth-child(20) {
    width: 369px;
    height: 98px;
  }

  .partners__item:nth-child(21) {
    width: 354px;
    height: 94px;
  }

  .partners__item:nth-child(22) {
    width: 193px;
    height: 154px;
  }
}
