@media (min-width: @desktop-width) {
  .promo__wrapper {
    .wrapper ();

    background-color: @lt_gray;
    min-height: 454px;
    height: 100%;
    padding-top: 41px;
  }

  .promo__text {
    font-family: @font-family--additional;
    font-weight: 700;
    font-size: 78px;
    line-height: 1;
    color: @basic_white;
    width: 50%;
    margin: 0;
    padding-bottom: 98px;
    padding-left: 36px;
  }
}
