  .promo {
    position: relative;
    min-height: 512px;
  }

  .promo__video video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        object-fit: cover;
  }

  .promo__wrapper {
    .wrapper ();
    position: absolute;
    top: 0;
    left: 0;
    // background-color: @lt_gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 512px;
    height: 100%;
    padding-top: 27px;
    padding-bottom: 30px;
  }

  .promo__text {
    font-family: @font-family--additional;
    font-weight: 700;
    font-size: 38px;
    line-height: 1;
    color: @basic_white;
    width: 100%;
    margin: 0;
    text-align: center;
  }

@media (min-width: @desktop-width) {
  .promo {
    display: flex;
    margin-left: calc((100% - 1240px) / 2);
    position: relative;
    min-height: 454px;
  }

  .promo__video video{
    width: 1240px;
    height: 454px;
    object-fit: cover;
  }
  .promo__wrapper {
    min-height: 454px;
    padding-top: 41px;
    padding-bottom: 0;
  }

  .promo__text {
    font-size: 78px;
    width: 50%;
    margin: 0;
    text-align: left;
    padding-bottom: 98px;
    padding-left: 36px;
  }
}
