@media (min-width: @desktop-width) {
  .subtitle {
    font-family: @font-family--additional;
    font-size: 48px;
    line-height: 1.2;
    font-style: normal;
    font-weight: normal;
    margin: 0;

    &--white {
      color: @basic_white;
    }

    &--blue {
        color: @basic_blue;
    }
  }
}
